In [21]:
import pandas, os

In [22]:
notes_path = "../mimic3Notes/physionet.org/files/mimiciii/1.4/NOTEEVENTS.csv"

In [23]:
#csv is extremely large (3 Gb) or 91,691,299 lines
#grab chunks, and predict mortality w/in chunks
notes_reader = pandas.read_csv(notes_path, iterator=True)

In [35]:
#reader reads from a stream, this means that calling it "consumes" the filestream
chunk = notes_reader.get_chunk(10000)

In [36]:
chunk.columns

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'CHARTDATE', 'CHARTTIME',
       'STORETIME', 'CATEGORY', 'DESCRIPTION', 'CGID', 'ISERROR', 'TEXT'],
      dtype='object')

In [32]:
chunk

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
505,515,30946,183748,2167-01-02,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2166-12-29**] ...
506,516,30946,123440,2169-12-05,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2169-12-5**] ...
507,517,97982,170458,2134-12-07,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2134-12-3**] ...
508,518,2650,188655,2132-09-26,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2132-7-9**] Discharg...
509,519,69323,180244,2199-07-16,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2199-7-13**] ...
...,...,...,...,...,...,...,...,...,...,...,...
1000,1163,76558,119695,2160-08-12,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2160-8-4**] D...
1001,1164,10038,111115,2144-02-21,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2144-2-9**] D...
1002,1165,20715,175098,2116-12-13,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2116-12-3**] ...
1003,1166,11948,129591,2112-03-30,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2112-3-24**] Dischar...
1004,1167,11658,154944,2180-11-30,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2180-11-5**] ...

In [37]:
type(chunk['CATEGORY'])

pandas.core.series.Series

In [38]:
set(chunk['CATEGORY'])

{'Discharge summary'}